{% extends "proyectowebapp/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'proyectowebapp/img/image3.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper"></span>
            <span class="section-heading-lower">¡Bienvenidos a La Pabloneta</span>
          </h2>
          <p class="mb-3">"Descubre Calidad y Servicio en La Pabloneta: Tu Corralón de Referencia"
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">En nuestro corralón, no solo ofrecemos una amplia gama de productos de alta calidad, sino que también brindamos asesoramiento experto para garantizar que encuentres exactamente lo que necesitas para tus proyectos.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
    